{% if isLogin %}
<!DOCTYPE html>
<html>

<head lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebSocket Chatting</title>
    <style type="text/css">
        #screen1 {
            width: 50%;
            height: 50%;
            background-color: white;
        }

        #screen2 {
            width: 50%;
            height: 50%;
            float: left;
            background-color: white;
        }
    </style>
    <script>
        const ws = new WebSocket("ws://localhost:3000")

        function nickname_change() {
            var result = prompt("닉네임을 입력하세요.");

            if (result != null) {
                document.getElementById("nickname").value = result;

                const name = document.getElementById("nickname").value
            }
        }

        function clearMessage() {
            document.getElementById("message").value = ""
        }

        function sendMessage() {
            const nickname = document.getElementById("nickname").value
            const message = document.getElementById("message").value
            const fullMessage = `[${nickname}] ${message}`

            ws.send(fullMessage)
            clearMessage()
        }

        function receiveMessage(event) {
            const chat = document.createElement("div")
            const message = document.createTextNode(event.data)
            chat.appendChild(message)

            const chatLog = document.getElementById("chat-log")
            chatLog.appendChild(chat)
        }

        ws.onmessage = receiveMessage

        $("#exampleTable").DataTable({ });
    </script>
</head>

<body>
    <h1>Chat</h1>
    <div id="screen1">
        <button onclick="nickname_change()">닉네임 설정</button>
        {{userid}}님 환영합니다.
        <div>
            <a href="/user/logout"> 로그아웃 </a><br />
            <input type="text" id="nickname" style="width: 100px" readonly />
            <input type="text" id="message" placeholder="메시지" style="width: 200px" />
            <button onClick="sendMessage()">전송</button>
        </div>
        <div id="chat-log"></div>
    </div>
    <div id="screen2">
    </div>
</body>

</html>
{% else %}

<a href="/user/login">로그인</a>
<a href="/user/join">회원가입</a>

{% endif %}