<table id="foo-table" class="table table-bordered">
    <thead>
        <tr>
            <td>번호</td>
            <td>아이디</td>
            <td>비번</td>
            <td>이름</td>
            <td>성별</td>
            <td>등록일</td>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td>{{item.dataValues.id}}</td>
            <td>{{item.dataValues.userid}}</td>
            <td>{{item.dataValues.userpw}}</td>
            <td>{{item.dataValues.username}}</td>
            <td>{{item.dataValues.gender}}</td>
            <td>{{item.dataValues.userdt}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css" />
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script type="text/javascript">

    jQuery(function ($) {
        $("#foo-table").DataTable();
    });
</script>